In [1]:
x = 5 #This is my Python sheet where I am teaching myself and whoever wants to learn the basic commands for Python 3.

In [2]:
x

5

In [3]:
x = 8 #Notice that we can change the variable value at any time by simply typing it again.

In [4]:
x + 8.444  #And we can even add any number to it.

16.444000000000003

In [5]:
x

8

In [6]:
y = 8 #Here we learn how to assign a variable, notice that it is case sensitive.

In [7]:
y

8

In [8]:
print(y) #Here we see the most common function we'll use to print a variable.

8

In [9]:
x,y = (1,2) #We can also assign variables at the same time in a single line.

In [10]:
x

1

In [11]:
y

2

In [12]:
x1 = 5

In [13]:
type(x1) #We can check what type of variable we are dealing with using this function

int

In [14]:
type(-6)

int

In [15]:
x2 = 4.75

In [16]:
type(x2)

float

In [17]:
int(x2) #We can use the types as functions to change the type of a variable or number.

4

In [18]:
float(5)

5.0

In [19]:
x3 = True #We can assign a variable to a simple Boolean value, and ask it's type. Notice that the value is case sensitive.

In [20]:
type(x3)

bool

In [21]:
"George" #Here we learn what a string is. Notice that it needs to be between quotes or double quotes for the command to work.

'George'

In [22]:
print('George')

George

In [23]:
x4 = 'George'

In [24]:
x4

'George'

In [25]:
y = 10                    #Here we observe that we need to use 'str()' to convert a number into text to get the result we want.
print (str(y) + ' Dollars')

10 Dollars

In [26]:
'I\'m fine' #We see here that the space is used as an escape character for the string to work properly. Otherwise it'd return an error.

"I'm fine"

In [27]:
'Press "Enter"'  #We can also observe that there are many ways we can write a string for it to appear as we want.

'Press "Enter"'

In [28]:
'Red''car'

'Redcar'

In [29]:
'Red ''Car'

'Red Car'

In [30]:
'Red ' + 'Car'

'Red Car'

In [31]:
print ('Red ' + 'Car')

Red Car

In [32]:
print ('Red' , 'Car') #We don't need to have the space after the word if we use a trailing comma.

Red Car

In [33]:
print (3,5)

3 5

In [34]:
3,4,6.9,7.0,"Car"

(3, 4, 6.9, 7.0, 'Car')

In [35]:
1 + 2  #As we see here we can use operations normally using Python.

3

In [36]:
3 - 5

-2

In [37]:
15/3

5.0

In [38]:
16 / 3

5.333333333333333

In [39]:
16 % 3  #We use the percentage sign to indicate we want to find the remainder of the division.

1

In [40]:
5 * 3

15

In [41]:
x = 5 * 3

In [42]:
x

15

In [43]:
5 ** 3

125

In [44]:
y = 5 ** 3

In [45]:
y

125

In [46]:
y == 125   #When we define the variable 'y' we can use the '==' to return a boolean value to tell us if that value is correct.

True

In [47]:
y == 126

False

In [48]:
2.0 * 1.5 + \
5            #We use the inverted bar to jump the line downwards but continue the operation normally. That counts for the comment line as well.
             #Notice that we can't put any character after the bar.

8.0

In [49]:
"Friday"[4] #When we have a group or a word we can do something called indexing to find an element or character. Remember to count from 0 onward.

'a'

In [50]:
def five(x):    #Here is where things start getting interesting. We define a function called 'five' at an unkown x.
    x = 5      #Here we define x and ask the function to return us the result.
    return x    #This is the first block of code/command. (1)
                                                              #Here we see and understand why identation is important when coding.
print (five(3)) #This is the second block of code/command.(2)

5

In [51]:
10 == 20 / 2   #All operations below are Comparison Operators which return a boolean value.

True

In [52]:
10 != 10   #The sign '!=' means 'It is not'

False

In [53]:
10 != 15

True

In [54]:
100 > 50

True

In [55]:
100 < 50

False

In [56]:
15 >= 10 + 10

False

In [57]:
15 <= 10 + 5

True

In [58]:
True and not True   #These are called Logical and Identity Operators. Notice the priority: NOT - AND - OR

False

In [59]:
False or not True and True

False

In [60]:
True and not True or True

True

In [61]:
5 is 6  #Notice that both are the same, even though it returns an error when using 'is' or 'is not' with and integer.
5 == 6

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\btcab\AppData\Local\Temp\ipykernel_10164\2378990730.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  5 is 6  #Notice that both are the same, even though it returns an error when using 'is' or 'is not' with and integer.

False

In [62]:
5 is not 6
5 != 6

<>:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
C:\Users\btcab\AppData\Local\Temp\ipykernel_10164\2831599555.py:1: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  5 is not 6

True

In [63]:
if 5 == 15 / 3:      #Here we see a Conditional statement. Notice that the text only prints if the conditional statement is true.
    print ("Hooray!!!!")

Hooray!!!!

In [64]:
if 5 == 18 / 3:
    print ("Hooray!!!")

In [65]:
if 5 != 3 * 6:
    print ("Let's Go!!!!")

Let's Go!!!!

In [66]:
 x = 1              #The 'else' function is used so that the code runs in a different way if the statement is false.
                    #Notice that identation is important.
if x > 3:           #This is the first block of code/command.(1)
    print ("Case 1")
else:               #This is the second block of code/command.(2)
    print ("Case 2")

Case 2

In [67]:
def compare_to_five(y): #Here we see how to use the 'elif' function to create more ways, not only 2 (True or False).
    if y > 5:            #Notice that identation is still important, and the computer will read the command from top to bottom.
        return "Greater than five" #We didn't define a value to the variable 'y' exactly because we want to be able to input the value as we need.
    elif y < 0:
        return "Negative Number"
    elif y < 5:
        return "Less than five"
    else:
        return "This is the number 5 come on"

In [68]:
print (compare_to_five(-3))

Negative Number

In [69]:
print (compare_to_five(3))

Less than five

In [70]:
print (compare_to_five(5))

This is the number 5 come on

In [71]:
print (compare_to_five(23))

Greater than five

In [72]:
x = 5   #A quick note on Bolean values is that when you assign the 'Correct' string, since the order matters we need to assign the 'True' value first
if x > 4:
    print ("Correct")
else:
    print ("Incorrect")

Correct

In [73]:
def simple(): #Here is how you can define a function, what's in blue is it's name and what's inside the parentheses are the parameters.
    print ("This is my first function yay!") #This is the funtions body, which will run as we like when we call the function's name.

In [74]:
simple()

This is my first function yay!

In [75]:
def plus_ten(a):
    return a + 10

In [76]:
plus_ten(2)

12

In [77]:
plus_ten(213123)

213133

In [78]:
def plus_ten(a):     #Note that the 'print' function doesn't affect the calculation of the output.
    result = a + 10
    print ('Outcome is:')
    return result   #And the 'return' function doesn't visualize the output; it specifies what a certain function is supposed to give back

In [79]:
plus_ten(3)

Outcome is:

13

In [80]:
def wage(w_hours):      #Here we see how we can write a function within another function.
    return w_hours * 45.50

def with_bonus(w_hours):
    return wage(w_hours) + 500

In [81]:
wage(8), with_bonus(8)

(364.0, 864.0)

In [82]:
def add_10(m):  #Here we see how we can mix things up and put a conditional statement inside the defiend function.
    if m >= 100:
        m = m + 10  #Note that the '=' sign means to assign or 'bind to'
        return m
    else:
        return "Save more money bro!"

In [83]:
add_10(110)

120

In [84]:
add_10(50)

'Save more money bro!'

In [85]:
def subtract_bc(a,b,c):
    result = a - b * c
    print ('Parameter a equals', a)
    print ('Parameter b equals', b)
    print ('Parameter c equals', c)
    print ('The equation results to:')
    return result

In [86]:
subtract_bc(10,3,2)

Parameter a equals 10
Parameter b equals 3
Parameter c equals 2
The equation results to:

4

In [87]:
#Now we are going to see a couple Notable Built-in Function in Python 3

In [88]:
type(10)   #Here we are checking the characteristic of the argument.

int

In [89]:
int(5.0)   #Here we transform the argument into an integer.

5

In [90]:
float(3)    #Transform it into a float.

3.0

In [91]:
str(500)    #Into a string.

'500'

In [92]:
max(10,20,30)    #We use this built-in function to find the biggest number inside the group of arguments.

30

In [93]:
min(10,20,30)  #And here to find the smallest.

10

In [94]:
z = -20  
abs(z)  #We use this function to find the absolute value.

20

In [95]:
list_1 = [1,2,3,4]  #Here we can see how we create a list. We choose the name and then it's content.

In [96]:
sum(list_1)   #Then we can use the built-in functions to mess with it.

10

In [97]:
round(3.555,2) #In this function we can round the float number we have inside. After the comma is the number of decimals you want to round it to.

3.56

In [98]:
round(3.2)

3

In [99]:
2 ** 10

1024

In [100]:
pow(2,10)  #We can use this function when we want to raise a number to a big one. The fisrt is the number you want to raise and the second/
           #is the number you want to raise it to.

1024

In [101]:
len('Mathematics') #When we want to count the number of characters in a word or in a group we can use this function.

11

In [102]:
#Now we are going to see how to create lists and how to mess with them.

In [103]:
Participants = ['John', 'Leila', 'Gregory', 'Cate']
Participants    #Notice that to see the list after you create it, you need to call it.

['John', 'Leila', 'Gregory', 'Cate']

In [104]:
print (Participants[1]) #We can ask Python to call a single character from the list. Remember it is count from '0'.

Leila

In [105]:
Participants[-2] #We don't necessarily need the 'print' function to call it. We can also count backwards, but then we count from '-1'.

'Gregory'

In [106]:
Participants[3] = 'Maria' #We can add/substitute an element to the list like this. And remember to call it to see if the element was added properly.
Participants

['John', 'Leila', 'Gregory', 'Maria']

In [107]:
del Participants[2]  #We can also use the 'del' function to delete a specific element in the list.
Participants

['John', 'Leila', 'Maria']

In [108]:
Participants[2]

'Maria'

In [109]:
#Here we are going to learn about methods and how to use them to mess with the list.

In [110]:
Participants.append('Dwayne')  #The 'append' method is used to add an element to the list at the very end.
Participants

['John', 'Leila', 'Maria', 'Dwayne']

In [111]:
Participants.extend(['George', 'Catherine']) #The 'extend' method is used for the same purpose however, it is used to add more than one element.
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [112]:
print ('The first participant is ' + Participants[0] + '.')

The first participant is John.

In [113]:
len ('Dolphin')

7

In [114]:
#Next we are going to check out how to do slicing on the lists that can be extremely useful for huge lists.

In [115]:
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [116]:
Participants[1:3] #Here we see how to slice the list. First number is where you want to start and the second is the end.

['Leila', 'Maria']

In [117]:
Participants[:2]  #That means the second number is not included. Remember it starts from zero.

['John', 'Leila']

In [118]:
Participants[4:] #If you do not include one of the numbers it will count as if you want the rest of the list, starting/ending with the other number.

['George', 'Catherine']

In [119]:
Participants[-2:] #We can also count backwards, starting with '-1'

['George', 'Catherine']

In [120]:
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [121]:
Participants[1] = 'Peter'
Participants[3] = 'Leila'
Participants[-2] = 'Dwayne'

In [122]:
Participants

['John', 'Peter', 'Maria', 'Leila', 'Dwayne', 'Catherine']

In [123]:
Participants.index('Maria') #Here are checking other methods to use when scrambling with lists.

2

In [124]:
Newcomers = ['Joshua','Brittany'] #Here we created another list to show how to make another list containing two existing lists.
Newcomers

['Joshua', 'Brittany']

In [125]:
Bigger_List = [Participants, Newcomers] #We simply set the name of the new list and include the ones we want in it.
Bigger_List

[['John', 'Peter', 'Maria', 'Leila', 'Dwayne', 'Catherine'],
 ['Joshua', 'Brittany']]

In [126]:
Participants.sort() #Here we are using the method to sort the list.
Participants

['Catherine', 'Dwayne', 'John', 'Leila', 'Maria', 'Peter']

In [127]:
Participants.sort(reverse=True) #This is a clear example in how you can use the argument in the method to do what you want it to do.
Participants

['Peter', 'Maria', 'Leila', 'John', 'Dwayne', 'Catherine']

In [128]:
Numbers = [1,3,5,1,7,3,45,65] #And we can also use it for numbers, and it will sort even equal numbers.
Numbers.sort()
Numbers

[1, 1, 3, 3, 5, 7, 45, 65]

In [129]:
Numbers.sort(reverse=True)
Numbers

[65, 45, 7, 5, 3, 3, 1, 1]

In [130]:
#Now, let's talk about Tuples and how to work with them!

In [131]:
x = (40,41,42)  #Here we see that we can assign a group of arguments to a variable and then call it.
x

(40, 41, 42)

In [132]:
y = (50,51,52) 
y

(50, 51, 52)

In [133]:
a, b, c = 1, 4, 6  #We can also assign different variables to different arguments in the same line!
c

6

In [134]:
x[0] #Remeber how we called names previously, when talking about lists? Here we did the same but for the variable x.

40

In [135]:
List_1 = [x,y] #Here we created a list that incorporated both variables and their current group of arguments.
List_1

[(40, 41, 42), (50, 51, 52)]

In [136]:
(age, years_of_school) = '30,17'.split(',') #In this line of commands we assigned the values to the varibles and asked it to split them up.
print(age)
print(years_of_school)

30
17

In [137]:
def square_info(x): #Here we are defining a function that is going to calculate the area and perimeter of a square.
    A = x ** 2      #We define what are the formulas for what we want, which are Area and Perimeter.
    P = 4 * x
    print('Area and Perimeter:') #Then we ask it to print a string to tell us what it is calculating and to point the results.
    return A,P #And finally we ask it to return the results.

square_info(3)

Area and Perimeter:

(9, 12)

In [138]:
#Now let's a little bit on dictionaries and what we can do with them!

In [139]:
dict = {'k1': 'cat','k2': 'dog','k3': 'mouse', 'k4': 'fish'} #First we are seeing how we can create a dictionary.
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [140]:
dict['k1'] #We can call any argument from the dictionary.

'cat'

In [141]:
dict['k2']

'dog'

In [142]:
dict['k3']

'mouse'

In [143]:
dict['k5'] = 'parrot' #In a somple line we can add a new element to the dictionary.
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [144]:
dict['k2'] = 'squirrel' #And we can trade values as well.
dict

{'k1': 'cat', 'k2': 'squirrel', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [145]:
dep_workers = {'dep_1': 'Peter', 'dep_2': ['Jennifer', 'Michael', 'Tommy']} #We can also assing a whole group of arguments to a single value.

In [146]:
dep_workers['dep_2']

['Jennifer', 'Michael', 'Tommy']

In [147]:
Team = {}  #When we are using brackets to assign to a variable we are assigning it as a dictionary.
Team['Point Guard'] = 'Dirk' #And then, we can assign the values we want to that dictionary this way. to make it easier to identify.
Team['Shooting Guard'] = 'Al'
Team['Small Forward'] = 'Sean'
Team['Power Forward'] = 'Alexander'
Team['Center'] = 'Hector'

In [148]:
print(Team)

{'Point Guard': 'Dirk', 'Shooting Guard': 'Al', 'Small Forward': 'Sean', 'Power Forward': 'Alexander', 'Center': 'Hector'}

In [149]:
print(Team['Center']) #And this is how we are goint to call the list assigned as a dictionary.

Hector

In [150]:
print(Team.get('Small Forward')) #The ".get" method is really good for finding values in a dictionary.

Sean

In [151]:
print(Team.get('Coach')) #And it even tells us if that name/value is contained in the dictionary

None

In [152]:
#Now we are going to talk about for, while and conditional states Loops.

In [153]:
even = [0,2,4,6,8,10,12,14,16,18,20]

In [154]:
for n in even:
    print (n, end = " ")

0 2 4 6 8 10 12 14 16 18 20

In [155]:
x = 0   #When we're dealing with loops we need to be careful not to make the problem crash with infinite loops.
while x <= 20:  #While loops keep running while the argument is true.
    print (x, end = " ") #Here we put inside the parentheses a command, after the comma, to make the program print horizontally instead of vertically.
    x = x + 2

0 2 4 6 8 10 12 14 16 18 20

In [156]:
x = 0
while x <= 20:
    print(x, end = " ")
    x += 2  #Here we changed the line to something more concise. It runs the same way. Remember that the '=' sign means 'assign to' not 'equal to'.

0 2 4 6 8 10 12 14 16 18 20

In [157]:
#Now we are going to see how to creat a list using the range() function

In [158]:
range(10) #Here we are just creating the range.

range(0, 10)

In [159]:
list(range(10)) #Here we list the range. Remember it starts from 0 and stops before the number in the argument.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [160]:
range(3,7)

range(3, 7)

In [161]:
list(range(3,7))

[3, 4, 5, 6]

In [162]:
range(1,20,2) #Here's how it goes: 'range(start, stop, step)'.

range(1, 20, 2)

In [163]:
list(range(1,20,2)) #Which means we're going to start at 1 and end at 20, but we're going to go two by two.

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [164]:
#Now we're going to see the use of Conditional statements and loops, and how they interact.

In [165]:
for n in range(10): #Here we are seeing a loop that makes n grow until the number 9.
    print (2 ** n, end = " ") #And then we ask it to print the values.

1 2 4 8 16 32 64 128 256 512

In [166]:
for x in range(20): #Here we have a similar case but we are counting until 20.
    if x % 2 == 0: #This % symbol means: 'If x leaves a remainder of 0 when divided by 2'; which means that same as: 'If x is even'.
        print (x, end = " ") #However we ahve an if else statement. Where we ask it to print the word 'Odd' instead of the odd numbers.
    else:
        print ("Odd", end = " ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [167]:
x = [0,1,2]

In [168]:
for item in x: #Here we are just using a loop to ask to print the items in the group we created.
    print (item, end = " ")

0 1 2

In [169]:
for item in range(len(x)): #And here we see another way to do it, but a little more complicated, that can be useful in advanced coding.
    print (x[item], end = " ") #The variable 'item' will loop through a new list created by 'range', and that has as many elements as x itself.

0 1 2

In [170]:
def count(numbers): #Here we are defining a function that will count how many numbers are under 20 in a list.
    total = 0     #First we need to make it start from 0
    for x in numbers: #Then we make it add one everytime it finds a number that is under 20. And forget, identation is important!!
        if x < 20:
            total += 1
    return total

In [171]:
list_1 = [1,3,7,15,23,43,56,98]

In [172]:
count(list_1)

4

In [173]:
#Now we are going to talk a little bit about Iterating over Dictionaries.

In [174]:
prices = {    #Here we learn how to create two dictionaries and how we can make calculations calling both in the same function.
    'box_of_spaghetti' : 4,
    'lasagna': 5,
    'hamburger': 2
}
quantity = {
    'box_of_spaghetti' : 6,
    'lasagna': 10,
    'hamburger': 0
}
money_spent = 0

for x in prices:
    money_spent = money_spent + (prices[x] * quantity[x])

print (money_spent)

74

In [175]:
#Now and lastly, we will learn how to import modules/packages in Python.

In [176]:
import math #Here we end up importing the whole module 'math' and all its methods and functions>

In [177]:
math.sqrt(16)

4.0

In [178]:
from math import sqrt #Here we see how we can import just the method or function we desire.

In [179]:
sqrt(25)

5.0

In [180]:
from math import sqrt as s #We can also change the same of the function to make it quicker to write.

In [181]:
s(36)

6.0

In [182]:
import math as m #And we can do the same thing with the modules.

In [183]:
m.sqrt(49)

7.0

In [184]:
from math import * #Developers don't use this one as much, but you can use the '*' to import the whole package as well.

In [185]:
sqrt(64)

8.0

In [374]:
help(math) #And finally if you ever need any help with any module/package or function.

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating-point sum of values in the iterable seq.

        Assumes IEEE-754 floating-point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating-point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base is not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /, *, steps=None)
        Return the floating-point value the given number of steps after x towards y.

        If steps is not specified or is None, it defaults to 1.

        Raises a TypeError, if x or y is not a double, or if steps is not an integer.
        Raises ValueError if steps is negative.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    sumprod(p, q, /)
        Return the sum of products of values from two iterables p and q.

        Roughly equivalent to:

            sum(itertools.starmap(operator.mul, zip(p, q, strict=True)))

        For float and mixed int/float inputs, the intermediate products
        and sums are computed with extended precision.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)